/* IMPORTAÇÃO DAS FONTES  */


@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');


  
  .text-titulo{
    font-family: 'Fredoka One', cursive;
    color: #575151;
    font-weight: lighter;   
  }
  .text-geral{
    font-family: 'Oxygen', sans-serif;
    color: #575151;
    font-weight: lighter;
  }
  
   .botoes {
     margin-top: 13em;
   }   


  @media screen and (max-width: 991px) {
      .botoes{
          margin-top:5em;
    }
  }
  
  
  