@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

/* ESTILIZAÇÃO GERAIS  */

.fundo-cadastro {
    background: #F9FBF9;
}
.container {
    margin-top: 140px;
}

h2{
    font-family: 'Fredoka One', cursive;
    font-size: 36pt;
    color: #575151;
    font-weight: lighter;   
}

label {
    font-family: 'Oxygen', sans-serif;
    font-size: 18pt;
    font-weight: lighter;
    color: #575151;
}

span, button {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
}


/* ESTILIZAÇÃO POR CLASSES  */


.borda-direita {
    border-right: 1px solid grey;
}

.btn-entrar {
    color: #575151;
    /* color: black; */
    background: #C8F2C8;
    border-radius: 18px;
    /* border: 1px solid #5D5D5D; */
    transition: color 0.5s;
}

.btn-perdeu-senha{
    /* color: #575151; */
    color: black;
    background: #A2A2A2;
    /* border: 1px solid #5D5D5D; */
    border-radius: 18px;
    transition: color 0.5s;
    
}

.btn-entrar:hover {
    color: darkgreen;
    box-shadow: 1px 1px 4px gray;
    font-weight: 700;
    transition: color 0.5s;

}

.btn-perdeu-senha:hover{
 color: white;
 box-shadow: 1px 1px 4px gray;
 transition: color 0.5s;
 font-weight: 700;

}


/* MEDIA QUERYS  */


@media screen and (max-width: 991px){
    .container {
        margin-top: -10px;
    }    

}


@media screen and (max-width: 767px){
    .borda-direita {
        border-right: none;
        border-bottom: 1px solid grey;
    }

    .login {
        margin-bottom: 3em;
    }

    .cadastro {
        margin-top: -1.5em;
    }
  }


  @media screen and (max-width: 575px){
    .borda-direita {
      margin: 0 auto;
      width: 80%;
    } 
  }

  @media screen and (max-width: 550px){
    
    .container{
        margin-top: -1em;
    }
  }


  @media screen and (max-width: 358px){
    /* .container{
        margin-top: em;
    } */

  }