<div class="fundo-cadastro">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 mt-5 mb-5 borda-direita">


                <div class="col-md-12 login">
                    <h2 class="titulo">login</h2>
                    <div>
                        <div class="form-group w-75">
                            <label for="exampleInputEmail1" class="texto">E-mail *</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Ex: mestredahorta@mestredahorta.com.br"
                                [(ngModel)]="usuarioLogin.usuario">
                        </div>
                        <div class="form-group w-75">

                            <label for="exampleInputPassword1" class="texto">Senha *</label>

                            <input type="password" class="form-control mr-3" id="exampleInputPassword1"
                                placeholder="Senha" [(ngModel)]='usuarioLogin.senha'>

                            <div class="alert alert-danger mt-2 w-75" *ngIf="alerta" role="alert">
                                <span>E-mail e senha incorretos </span>
                            </div>
                            <div class="mt-4 d-inline-block">
                                <button type="submit" class="btn btn-entrar texto  mr-3 mb-3"
                                    (click)='fazerLogin()'>Entrar</button>


                                <button type="submit" class="btn btn-perdeu-senha  mb-3 texto">Perdeu a sua
                                    senha?</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>





            <div class="col-md-6 mb-5">

                <div class="col-md-10 mt-5 mb-5 ">
                    <h2 class="cadastro">quero me cadastrar</h2>

                    <div *ngIf="!alerta2">
                        <div class="form-group">
                            <label for="nome">Nome * </label>
                            <input type="text" class="form-control" id="nome" placeholder="Nome"
                                [(ngModel)]="cadastro.nome" required #nome="ngModel">
                        </div>

                        <div class="alert alert-danger" *ngIf="!nome.valid &&  nome.touched" role="alert">
                            Insira o seu nome
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">E-mail *</label>
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Ex: mestredahorta@mestredahorta.com.br"
                                [(ngModel)]="cadastro.email" [(ngModel)]="cadastro.usuario" required #email="ngModel">
                            <small id="emailHelp" class="form-text text-muted"></small>
                        </div>
                        <div class="alert alert-danger" *ngIf="!email.valid && email.touched" role="alert">
                            Insira o seu e-mail
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha *</label>
                            <input type="password" class="form-control" id="senha" placeholder="Senha"
                                [(ngModel)]="cadastro.senha" required #senha="ngModel">
                        </div>
                        <div class="alert alert-danger" *ngIf="!senha.valid && senha.touched" role="alert">
                            Insira uma senha
                        </div>
                        <div class="form-group">
                            <label for="confirmaSenha">Confirme sua senha *</label>
                            <input type="password" class="form-control" id="confirmaSenha" placeholder="Senha"
                                [(ngModel)]="confirmaSenha" required #senha1="ngModel">
                        </div>
                        <div class="alert alert-danger mb-3" *ngIf="!senha1.valid && senha1.touched" role="alert">
                            Confirme sua senha
                        </div>



                                             
                        <div class="alert alert-danger" *ngIf="alertaSenha" role="alert">
                            Senhas não conferem
                        </div>
                        
                        <div>
                        <button type="button" class="btn btn-entrar mb-4" (click)="cadastrar()">Cadastrar</button>
                        </div>
                    </div>

                    <div class="alert alert-success" *ngIf="alerta2" role="alert">
                        Usuário cadastrado com sucesso!
                    </div>


                </div>
            </div>


        </div>
    </div>

</div>