/* IMPORTAÇÃO DE FONTES */

@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');




/* CONTAINER COM A DESCRIÇÃO DO PRODUTO */


#main-cont{
    margin-top:210px;
    padding-top:50px;
    letter-spacing: 1px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    background-color: white;
}

h2{
    font-family:'Fredoka One', cursive;
    letter-spacing: 4px;
}

h4{
    color: #8BA96B;

}

#img-desc{
    max-height: 50%;
    max-width: 50%;

}


#desc-produto{
    /* max-width: 200px; */
    text-align: justify;
    max-width: 400px;
}




/* BOTÃO DO CONTAINER */

#div-btn{
    background-color:white;
    padding-bottom: 30px;
    margin-bottom: 50px;
}


.btn{
    letter-spacing: 3px;
    color:#5D5D5D;
    background-color:#C8F2C8;
    transition: font-weight box-shadow text-shadow 1s;
    border-radius: 18px;
  
}

.btn:hover{
    font-weight:bolder;
    box-shadow:1px 1px 4px #5D5D5D;    
    
}



/* LABEL E INPUT DO CONTAINER */

label {
    font-family: 'Oxygen', sans-serif;
    font-size: 13pt;
    font-weight: normal;
    letter-spacing: 1px;
    position: relative;
    left: 50px;
}
input {
    font-family: monospace;
    border-color: #dddddd;
    border-radius: 8px;
    position: relative;
    left:58px;
}





/* MEDIA QUERYs */

@media screen and (min-width:320px) and (max-width:359px){
    #desc-produto{
        text-align: center;
    }

    #label-input{
    position: relative;
    left:-33px;
    }
}

@media screen and (min-width:360px) and (max-width:374px){
    #desc-produto{
        text-align: center;
    }

    #label-input{
    position: relative;
    left:-26px;
    }
}

@media screen and (min-width:375px) and (max-width:410px){
    #desc-produto{
        text-align: center;
    }

    #label-input{
    position: relative;
    left:-24px;
    }
}


@media screen and (min-width:411px) and (max-width:450px){
    #desc-produto{
        text-align: center;
    }

    #label-input{
    position: relative;
    left:-17px;
    }
}

@media screen and (min-width:768px) and (max-width:800px){
    #desc-produto{
        text-align: center;
    }

    #label-input{
    position: relative;
    left:45px;
    }
}

@media screen and (min-width:768px) and (max-width:800px){
    #desc-produto{
        text-align: justify;
    }

    #label-input{
    position: relative;
    left:45px;
    }
}
@media screen and (min-width:1024px) and (max-width:1050px){
    #desc-produto{
        text-align: justify;
    }

    #label-input{
    position: relative;
    left:-20px;
    }
}