<!-- Footer -->
<footer class="page-footer w-100 text-geral pt-4">

    <div class="container">

        <div class="row w-100">

            <div class="col-md-4 col-sm-12 ">

                <h5 class="text-titulo text-uppercase ">DEPARTAMENTOS</h5>

                <ul class="list-unstyled mt-4">
                    <li class="border-bottom w-100 mb-4 clique">
                        <a class="text-geral hover" routerLink='/home'>Início</a>
                    </li>

                    <li class="border-bottom w-100 mb-4 clique">
                        <a class="text-geral hover" routerLink='/quem-somos'>Quem Somos</a>
                    </li>

                    <li class="border-bottom w-100 mb-4 clique">
                        <a class="text-geral hover" routerLink='/produtos'>Produtos</a>
                    </li>

                    <li class="border-bottom w-100 mb-4 clique">
                        <a class="text-geral hover" routerLink='/cadastro'>Cadastro</a>
                    </li>
                    <!-- 
                    <li class="border-bottom w-100 mb-4 clique">
                        <a href="#!" class="text-geral hover">Meu carrinho</a>
                    </li> -->

                    <li class="clique w-100">
                        <a class="text-geral hover" routerLink='/contato'>Contato</a>
                    </li>

                </ul>
            </div> <!-- col 1 -->

            <div class="col-md-4 col-sm-12 ">

                <h5 class="text-titulo text-uppercase">Atendimento</h5>

                <ul class="list-unstyled mt-4">
                    <li class="border-bottom w-100 mb-4">
                        <a class="text-geral">mestredahorta@mestredahorta.com</a>
                    </li>

                    <li class="border-bottom w-100 mb-4">
                        <a class="text-geral">(11) 9 6727-3211</a>
                    </li>

                    <li class="border-bottom w-100 mb-4">
                        <a class="text-geral">(11) 6727-3211</a>
                    </li>

                    <li class="border-bottom w-100 clique">
                        <a class="text-geral" routerLink='/faq'>FAQ</a>
                    </li>
                </ul>
            </div> <!-- col 2 -->

            <div class="col-md-4 col-sm-12" id="icones-rodape">

                <h5 class="text-titulo text-uppercase">Siga-nos</h5>

                <a href="https://www.facebook.com/MestredaHorta-109313934161575/" target="_blank"
                    class="icoFacebook mr-2" title="Facebook">
                    <fa-icon [icon]="faFacebook" class="faFacebook fa-3x"></fa-icon>
                </a>

                <a href="https://www.instagram.com/mestre.dahorta/?hl=pt-br" target="_blank" class="icoInstagram ml-3"
                    title="Instagram">
                    <fa-icon [icon]="faInstagram" class="faInstagram fa-3x"></fa-icon>
                </a>

            </div> <!-- col 3 -->
        </div> <!-- row 1 -->

        <div class="row">

            <div class="fotter-pagamentos col-12 d-flex align-items-center linha">

                <h5 class="mr-5 pt-4 pb-4">Formas de pagamento</h5>

                <div class=" icones">
                    <fa-icon [icon]="faCartaoC" class="faCartaoC fa-2x mr-2"></fa-icon>
                    <fa-icon [icon]="faCartaoM" class="faCartaoM fa-2x mr-2"></fa-icon>
                    <fa-icon [icon]="faCartaoV" class="faCartaoV fa-2x mr-2"></fa-icon>
                    <fa-icon [icon]="faCartaoP" class="faCartaoP fa-2x mr-2"></fa-icon>
                </div> <!-- icones -->

            </div> <!-- col 1 -->
        </div> <!-- row 2 -->

    </div> <!-- container -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-1 text-white-50" id="direitos">
        <p>Copyright © 2020 www.mestredahorta.com.br, TODOS OS DIREITOS RESERVADOS. </p>
    </div>
    <!-- Copyright -->

</footer>