<!-- SOBRE O PROJETO  -->

<div class="fundo">
    <div class="row">
        <div class="container">
            <section class="quem-somos">
                <div class="text-center">

                    <h1 class="texto-quem-somos">
                        quem somos?
                    </h1>

                </div>
            </section>


            <!-- CARDS COM INTEGRATES DO PROJETO  -->


            <section class="sobre-nos-card">


                <!-- NOVO CARD HUMBERTO  -->

                <div class="col-md-12 d-flex justify-content-strart card-responsivo">
                    <div class="card mb-5 card-foto" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-6 imagem">
                                <img src="../../assets/img/fotoHumberto.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-6 ">
                                <div class="card-body">
                                    <div class="card-texto">
                                        <h5 class="card-title text-center mb-3">Humberto Honorato</h5>
                                        <p class="card-text">Desenvolvedor Full Stack Java, aluno do Bootamp da
                                            Generation.
                                        </p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                    </div>
                                    <div class="row">
                                        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
                                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x"></fa-icon>
                                        </a>
                                        <a href="#" target="_blank" class="icoGithub ml-3" title="GitHub">
                                            <fa-icon [icon]="faGithub" class="faGithub fa-2x"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <!-- NOVO CARD JÉSSICA -->


                <div class="col-md-12 d-flex justify-content-end card-responsivo">
                    <div class="card mb-5 card-foto" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <img src="../../assets/img/fotoJessica.jpeg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <div class="card-texto">
                                        <h5 class="card-title text-center mb-3">Jéssica Luz</h5>
                                        <p class="card-text">Grata pela vida, curiosa e pronta para novos desafios.
                                            Tenho 25 anos, formada em Engenharia Civil pela Universidade Anhembi
                                            Morumbi. Recentemente resolvi migrar para a área da tecnologia, pelo fato
                                            de ser uma área em ascensão. Conheci o bootcamp da Generation, me apaixonei
                                            quando tive o
                                            primeiro contato e hoje sou
                                            Desenvolvedora Java Júnior.</p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                    </div>
                                    <div class="row">
                                        <a href="https://www.linkedin.com/in/jessica-luz/" target="_blank"
                                            class="icoLinkedin" title="Linkedin">
                                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x"></fa-icon>
                                        </a>
                                        <a href="https://github.com/jessicaoliveiraluz" target="_blank"
                                            class="icoGithub ml-3" title="GitHub">
                                            <fa-icon [icon]="faGithub" class="faGithub fa-2x"></fa-icon>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- NOVO CARD GUSTAVO -->


                <div class="col-md-12 d-flex justify-content-strart card-responsivo">
                    <div class="card mb-5 card-foto" style="max-width: 580px;">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <img src="../../assets/img/fotoGustavo.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <div class="card-texto">
                                        <h5 class="card-title text-center mb-3">Gustavo Freitas</h5>
                                        <p class="card-text">Bacharel em Administração pela Metodista de São Paulo.
                                            Em transição de carreira para ser desenvolvedor, decidiu se
                                            candidatar ao bootcamp da Generation para ser um desenvolvedor Java Júnior.
                                        </p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                    </div>
                                    <div class="row">
                                        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
                                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x"></fa-icon>
                                        </a>
                                        <a href="#" target="_blank" class="icoGithub ml-3" title="GitHub">
                                            <fa-icon [icon]="faGithub" class="faGithub fa-2x"></fa-icon>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- NOVO CARD GABRIEL  -->


                <div class="col-md-12 d-flex justify-content-end card-responsivo">
                    <div class="card mb-5 card-foto" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <img src="../../assets/img/fotoGabriel.png" class="card-img" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <div class="card-texto">
                                        <h5 class="card-title text-center mb-3">Gabriel Vieira</h5>
                                        <p class="card-text">Graduando em Jogos Digitais na faculdade das Américas,
                                            decidiu
                                            se candidatar ao bootcamp da Generation para ingressar na carreira de
                                            desenvolvedor Java Jr.</p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                    </div>
                                    <div class="row">
                                        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
                                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x"></fa-icon>
                                        </a>
                                        <a href="#" target="_blank" class="icoGithub ml-3" title="GitHub">
                                            <fa-icon [icon]="faGithub" class="faGithub fa-2x"></fa-icon>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <!-- NOVO CARD BRUNO -->


                <div class="col-md-12 d-flex">
                    <div class="card mb-5 card-foto" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-6">
                                <img src="../../assets/img/fotoBruno.png" class="card-img" alt="...">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <div class="card-texto">
                                        <h5 class="card-title text-center mb-3">Bruno Matias</h5>
                                        <p class="card-text">Advogado inconformado com a falta de desafios na área
                                            jurídica. Após a oportunidade de coordenar a implementação de um sistema
                                            departamental na empresa em que trabalhava, me apaixonei pela área de T.I.,
                                            e seus constantes desafios. Hoje, curso Análise e desenvolvimento de
                                            sistemas e sou aluno do bootcamp da Generation. </p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                    </div>
                                    <div class="row" id="icones">
                                        <a href="#" target="_blank" class="icoLinkedin" title="Linkedin">
                                            <fa-icon [icon]="faLinkedin" class="faLinkedin fa-2x"></fa-icon>
                                        </a>
                                        <a href="#" target="_blank" class="icoGithub ml-3" title="GitHub">
                                            <fa-icon [icon]="faGithub" class="faGithub fa-2x"></fa-icon>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>




            </section>
        </div>
    </div>
</div>