<div class="container py-3 mt-190 mb-5">
    <div class="text-center mb-5 mt-3">
        <p class="perguntas-frequentes">perguntas frequentes</p>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-12 d-flex justify-content-center imagem">
            <img class="card-img-top" src="../../assets/img/questao.png" alt="Menino pensando">
        </div>

        <div class="d-flex justify-content-end" id="todos-cards">
            <div class="col-lg-8 col-md-8 col-sm-10 w-auto">
                <div class="accordion" id="faqExample">
                    <div class="card tamanho-card">

                        <!-- <div class="card-header p-2" id="headingOne"> -->
                        <h5 class="mb-0">
                            <button class="col-12" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                <div>
                                    Como a plataforma funciona?
                                </div>
                            </button>
                        </h5>
                        <!-- </div> -->

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqExample">
                            <div class="card-body tamanho-card">
                                <p class="resposta"> Nossa plataforma conecta donos de hortas que não
                                    utilizam agrotóxicos para sua cultivação com seus possíveis compradores, e
                                    também, para os que querem adquirir essa alimentação mais saudável.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card tamanho-card">
                        <!-- <div class="card-header p-2" id="headingTwo"> -->
                        <h5 class="mb-0">
                            <button class="  col-12 collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <div class="teste">
                                    Por que escolher orgânicos Mestre da Horta?
                                </div>
                            </button>
                        </h5>
                        <!-- </div> -->
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                            <div class="card-body tamanho-card">
                                <p class="resposta">
                                    Pioneirismo: Pioneiros em cultivar alimentos orgânicos.</p>
                                <br>
                                <p class="resposta">– Credibilidade: Nossos processos de produção no campo são
                                    certificados e auditados, cumprindo leis trabalhistas e
                                    ambientais. Nossos produtores orgânicos parceiros também são todos certificados.
                                </p><br>
                                <p class="resposta">– Escolher saúde para você e vida para o planeta: alimentos
                                    orgânicos
                                    são
                                    ricos em
                                    sabor, antioxidantes e livres de metais pesados, agrotóxicos e outros componentes
                                    químicos. Cuidam da qualidade da água, da nutrição e integridade do solo, da
                                    biodiversidade da fauna e da flora. São melhores para a saúde do trabalhador do
                                    campo!
                                </p><br>
                                <p class="resposta">– Relacionamento próximo com o produtor: você escolhe ter um
                                    relacionamento mais próximo
                                    e direto com o produtor, estreitando assim nossos laços e trazendo mais sentido para
                                    um
                                    consumo consciente. Mais do que cliente, você se torna coprodutor de seus alimentos.
                                    Apoiando o planejamento do produtor, evitando desperdícios na colheita.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card tamanho-card">
                        <!-- <div class="card-header p-2" id="headingThree"> -->
                        <h5 class="mb-0">
                            <button class=" col-12 collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Consigo fazer compra online?
                            </button>
                        </h5>
                        <!-- </div> -->
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#faqExample">
                            <div class="card-body resposta">
                                Nossa plataforma disponibiliza o suporte necessário para efetuar sua compra, logo poderá
                                adicionar itens que deseja na cesta de produtos.
                            </div>
                        </div>
                    </div>
                    <div class="card tamanho-card">
                        <!-- <div class="card-header p-2" id="headingFour"> -->
                        <h5 class="mb-0">
                            <button class=" col-12 collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                As caixas de papelão são recicláveis? Posso devolver caso estejam em bom estado?
                            </button>
                        </h5>
                        <!-- </div> -->
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                            <div class="card-body tamanho-card">
                                <p class="resposta">Sim! Nossas caixas de papelão são recicláveis, caso elas não estejam
                                    mais em condições de
                                    uso. E as caixas em bom estado são muito bem vindas de volta! Confira o explicativo
                                    de
                                    como desmontá-las na tampa de nossas caixas. Lembrando apenas, que nesta fase de
                                    covid19
                                    não estamos recebendo as caixas de volta. </p>
                                <br>
                                <p class="rresposta">Nos bairros da Grande São Paulo onde as entregas são realizadas de
                                    madrugada, se a sua
                                    portaria permitir, você pode deixar suas caixas vazias na noite anterior para o
                                    entregador retirar no momento da entrega. E no restante das regiões, onde as
                                    entregas
                                    são realizadas durante o dia, as caixas podem ser entregues diretamente ao
                                    entregador.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="card tamanho-card">
                        <!-- <div class="card-header p-2" id="headingFour"> -->
                        <h5 class="mb-0">
                            <button class=" col-12 collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Quero ser um produtor parceiro e fornecer orgânicos para Mestre da Horta. Como eu faço?
                            </button>
                        </h5>
                        <!-- </div> -->
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                            <div class="card-body tamanho-card">
                                <p class="resposta">Oba, legal! Vamos adorar aumentar e fortalecer nossa rede de
                                    parceiros!
                                    Mande um e-mail para mestresdahorta@gmail.com e compartilhe com a gente um pouco da
                                    sua
                                    história, seus certificados orgânicos e os itens que você gostaria de oferecer.
                                    Lembramos que praticamos um comércio justo, ou seja: apenas alimentos realmente
                                    orgânicos, com procedência e certificados.</p>
                            </div>
                        </div>
                    </div>

                    <div class="card tamanho-card">
                        <!-- <div class="card-header p-2" id="headingFive"> -->
                        <h5 class="mb-0">
                            <button class="  col-12 " type="button" data-toggle="collapse" data-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                                Política de Privacidade
                            </button>
                        </h5>
                        <!-- </div> -->
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                            <div class="card-body tamanho-card">
                                <div data-spy="scroll" data-target="#navbar-example2" data-offset="0"
                                    class="scrollspySite">
                                    a) A privacidade dos visitantes do nosso site é muito importante para nós, e
                                    estamos comprometidos em protegê-la. Esta política explica o que faremos com
                                    suas informações pessoais. <br>

                                    b) Consentir com o uso de cookies de acordo com os termos desta política
                                    quando você acessa nosso site pela primeira vez nos permite usar cookies
                                    toda vez que você acessa nosso site. <br><br>

                                    <b>2. Coleta de informações pessoais</b> <br> <br>

                                    Os seguintes tipos de informações pessoais podem ser coletados, armazenados
                                    e usados: <br>
                                    a) informações sobre o seu computador, incluindo seu endereço IP,
                                    localização geográfica, tipo e versão do navegador e sistema operacional;
                                    <br>

                                    b) informações sobre suas visitas e uso deste site, incluindo fonte de
                                    referência, duração da visita, visualizações de página e caminhos de
                                    navegação no site; <br>

                                    c) informações, como seu endereço de e-mail, que você digita quando se
                                    registra em nosso site; <br>

                                    d) informações que você digita ao criar um perfil em nosso site – por
                                    exemplo, seu nome, fotos de perfil, sexo, data de nascimento, status de
                                    relacionamento, interesses e hobbies, informações educacionais e de
                                    emprego;<br>

                                    e) informações, como seu nome e endereço de e-mail, que você digita para
                                    configurar assinaturas de nossos e-mails e/ou newsletters; <br>

                                    f) informações que você digita durante o uso dos serviços em nosso site;
                                    <br>

                                    g) informações geradas ao usar nosso site, incluindo quando, com que
                                    frequência e em que circunstâncias você o utiliza; <br>

                                    h) informações relacionadas a tudo o que você compra, serviços que usa ou
                                    transações que realiza através do nosso site, incluindo nome, endereço,
                                    número de telefone, endereço de e-mail e dados do cartão de crédito; <br>

                                    i) informações que você publica em nosso site com a intenção de publicá-las
                                    na internet, incluindo seu nome de usuário, fotos de perfil e o conteúdo de
                                    suas publicações;<br>

                                    j) informações contidas em quaisquer comunicações que você nos envia por
                                    e-mail ou através de nosso site, incluindo o conteúdo e os metadados da
                                    comunicação; <br>

                                    k) qualquer outra informação pessoal que você nos enviar.
                                    Antes de nos divulgar informações pessoais de outra pessoa, você deve obter
                                    o consentimento dessa pessoa para a divulgação e o processamento dessas
                                    informações pessoais de acordo com esta política. <br> <br>



                                    <b>3. Uso de suas informações pessoais</b> <br> <br>

                                    As informações pessoais que nos são enviadas por meio de nosso site serão
                                    usadas para os fins especificados nesta política ou nas páginas relevantes
                                    do site. Podemos usar suas informações pessoais para o seguinte: <br>
                                    a) administrar nosso site e nossos negócios; <br>

                                    b) personalizar nosso site para você; <br>

                                    c) possibilitar o uso dos serviços disponíveis em nosso site; <br>

                                    d) enviar produtos adquiridos através do nosso site; <br>

                                    e) prestar serviços adquiridos através do nosso site; <br>

                                    f) enviar extratos, faturas e lembretes de pagamento, bem como coletar seus
                                    pagamentos; <br>

                                    g) enviar comunicações comerciais que não sejam de marketing; <br>

                                    h) enviar notificações por e-mail solicitadas especificamente por você; <br>

                                    i) enviar nossa newsletter por e-mail, caso você a tenha solicitado (você
                                    pode nos informar a qualquer momento se não quiser mais receber a
                                    newsletter); <br>

                                    j) enviar comunicações de marketing relacionadas aos nossos negócios ou aos
                                    negócios de terceiros cuidadosamente selecionados que acreditamos ser do seu
                                    interesse, por correio ou, onde você especificamente concordou com isso, por
                                    e-mail ou tecnologia semelhante (você pode nos informar a qualquer momento
                                    se não mais quiser mais receber comunicações de marketing); <br>

                                    k) fornecer a terceiros informações estatísticas sobre nossos usuários (mas
                                    esses terceiros não poderão identificar nenhum usuário individual a partir
                                    dessas informações); <br>

                                    l) lidar com perguntas e reclamações feitas por você ou sobre você em
                                    relação ao nosso site; <br>

                                    m) manter nosso site seguro e evitar fraudes; <br>

                                    n) verificar a conformidade com os termos e condições que regem o uso do
                                    nosso site (incluindo o monitoramento de mensagens privadas enviadas por
                                    meio do serviço de mensagens privadas do nosso site); e <br>

                                    o) outros usos.
                                    Se você enviar informações pessoais para publicação em nosso site,
                                    publicaremos e usaremos essas informações de acordo com a licença que você
                                    nos concedeu. <br>

                                    Suas configurações de privacidade podem ser usadas para limitar a publicação
                                    de suas informações em nosso site e ajustadas através do uso de controles de
                                    privacidade no site. <br>

                                    Sem seu consentimento expresso, não forneceremos suas informações pessoais a
                                    terceiros para fins de marketing direto por parte deles ou de terceiros.
                                    <br><br>


                                    <b>4. Divulgação de informações pessoais</b> <br> <br>

                                    Podemos divulgar suas informações pessoais a qualquer um de nossos
                                    funcionários, executivos, seguradoras, consultores profissionais, agentes,
                                    fornecedores ou subcontratados conforme razoavelmente necessário para os
                                    fins estabelecidos nesta política. <br>

                                    Podemos divulgar suas informações pessoais a qualquer membro de nosso grupo
                                    de empresas (isso significa nossas subsidiárias, nossa holding e todas as
                                    suas subsidiárias) conforme razoavelmente necessário para os fins
                                    estabelecidos nesta política. <br>

                                    Podemos divulgar suas informações pessoais: <br>
                                    a) na medida em que somos obrigados a fazê-lo por lei; <br>

                                    b) em relação a qualquer processo judicial em andamento ou potencial;<br>

                                    c) para estabelecer, exercer ou defender nossos direitos legais (incluindo
                                    fornecer informações a terceiros para fins de prevenção de fraudes e redução
                                    do risco de crédito); <br>

                                    d) ao comprador (ou comprador em potencial) de qualquer negócio ou ativo que
                                    estejamos vendendo (ou contemplando vender); e <br>

                                    e) a qualquer pessoa que acreditemos razoavelmente que possa solicitar a um
                                    tribunal ou outra autoridade competente a divulgação dessas informações
                                    pessoais, quando, em nossa opinião razoável, for provável que tal tribunal
                                    ou autoridade ordene a divulgação dessas informações pessoais.
                                    Exceto conforme estabelecido nesta política, não forneceremos suas
                                    informações pessoais a terceiros. <br><br>


                                    <b> 5. Transferências internacionais de dados</b> <br><br>

                                    a) As informações que coletamos podem ser armazenadas, processadas e
                                    transferidas entre qualquer um dos países em que operamos, a fim de nos
                                    permitir usar as informações de acordo com esta política.<br>

                                    b) As informações que coletamos podem ser transferidas para os quaisquer
                                    países que não possuem leis de proteção de dados. <br>

                                    c) As informações pessoais que você publica em nosso site ou envia para
                                    publicação em nosso site podem estar disponíveis, através da internet, em
                                    todo o mundo. Não podemos impedir o uso ou uso indevido de tais informações
                                    por terceiros. <br>

                                    d) Você concorda expressamente com as transferências de informações pessoais
                                    descritas nesta seção 5. <br> <br>


                                    <b>6. Retenção de informações pessoais </b> <br><br>

                                    a) Esta seção G define nossas políticas e procedimentos de retenção de
                                    dados, projetados para ajudar a garantir o cumprimento de nossas obrigações
                                    legais em relação à retenção e exclusão de informações pessoais.<br>

                                    b) As informações pessoais que processamos para qualquer propósito ou
                                    propósitos não devem ser mantidas por mais tempo do que o necessário para
                                    esse propósito ou propósitos.<br>


                                    c) Não obstante as outras disposições desta seção 6, reteremos documentos
                                    (incluindo documentos eletrônicos) que contenham dados pessoais:<br>

                                    • na medida em que somos obrigados a fazê-lo por lei;<br>
                                    • se acreditarmos que os documentos podem ser relevantes para qualquer
                                    processo judicial em andamento ou potencial; e<br>
                                    • para estabelecer, exercer ou defender nossos direitos legais (incluindo
                                    fornecer informações a terceiros para fins de prevenção de fraudes e redução
                                    do risco de crédito).<br><br>

                                    <b>7. Segurança de suas informações pessoais</b> <br><br>

                                    a) Tomaremos as devidas precauções técnicas e organizacionais para evitar a
                                    perda, mau uso ou alteração de suas informações pessoais. <br>

                                    b) Armazenaremos todas as suas informações pessoais fornecidas em nossos
                                    servidores seguros (protegidos por senha e firewall). <br>

                                    c) Todas as transações financeiras eletrônicas realizadas através do nosso
                                    site serão protegidas por tecnologia de criptografia. <br>

                                    d) Você reconhece que a transmissão de informações pela internet é
                                    inerentemente insegura e que não podemos garantir a segurança dos dados
                                    enviados pela internet.<br>

                                    e) Você é responsável por manter em sigilo a senha usada para acessar nosso
                                    site; não solicitaremos sua senha (exceto quando você fizer login em nosso
                                    site). <br><br>


                                    <b>8. Alterações </b> <br><br>

                                    Podemos atualizar esta política periodicamente, através da publicação de uma
                                    nova versão em nosso site. Você deve verificar esta página ocasionalmente
                                    para garantir que compreende quaisquer alterações nesta política. Podemos
                                    notificá-lo sobre alterações nesta política por e-mail ou através do sistema
                                    de mensagens privadas em nosso site. <br><br>


                                    <b>9. Seus direitos </b><br> <br>

                                    Você pode nos instruir a fornecer qualquer informação pessoal que detenhamos
                                    sobre você; o fornecimento dessas informações estará sujeito ao seguinte:
                                    a) pagamento de uma taxa, em valor razoável a ser estipulado por nosso site;
                                    e<br>
                                    b) fornecimento de evidência apropriada de sua identidade (documento oficial
                                    válido e com foto).<br>

                                    Podemos reter as informações pessoais solicitadas na extensão permitida por
                                    lei.<br>

                                    Você pode nos instruir a qualquer momento para não processar suas
                                    informações pessoais para fins de marketing.<br>

                                    Na prática, você geralmente concordará expressamente com antecedência com o
                                    uso de suas informações pessoais para fins de marketing, ou ofereceremos a
                                    oportunidade de não permitir o uso de suas informações pessoais para fins de
                                    marketing. <br><br>


                                    <b>10. Sites de terceiros</b> <br><br>

                                    Nosso site inclui links para e detalhes de sites de terceiros. Não temos
                                    controle sobre e não somos responsáveis pelas políticas e práticas de
                                    privacidade de terceiros. <br><br>


                                    <b>11. Atualização de informações </b><br><br>

                                    Informe-nos se as informações pessoais que mantemos sobre você precisam ser
                                    corrigidas ou atualizadas. <br><br>


                                    <b>12. Cookies </b><br><br>

                                    a) Nosso site usa cookies. Um cookie é um arquivo que contém um
                                    identificador (uma sequência de letras e números) que é enviado por um
                                    servidor da web para um navegador e armazenado pelo navegador. O
                                    identificador é então enviado de volta ao servidor toda vez que o navegador
                                    solicita uma página do servidor. Os cookies podem ser cookies “persistentes”
                                    ou cookies “de sessão”: um cookie persistente será armazenado por um
                                    navegador e permanecerá válido até a data de vencimento definida, a menos
                                    que seja excluído pelo usuário antes da data de vencimento; um cookie de
                                    sessão, por outro lado, expirará no final da sessão do usuário, quando o
                                    navegador for fechado. Os cookies normalmente não contêm nenhuma informação
                                    que identifique pessoalmente um usuário, mas as informações pessoais que
                                    armazenamos sobre você podem estar vinculadas às informações armazenadas e
                                    obtidas a partir de cookies. <br>

                                    b) A maioria dos navegadores permite que você se recuse a aceitar cookies –
                                    por exemplo:<br>


                                    • no Internet Explorer, você pode bloquear cookies usando as configurações
                                    disponíveis de cancelamento de manipulação de cookies clicando em
                                    “Ferramentas”, “Opções da Internet” “Privacidade” e “Avançado”; <br>
                                    • no Firefox, você pode bloquear todos os cookies clicando em “Ferramentas”,
                                    “Opções”, “Privacidade”, selecionando “Usar configurações personalizadas
                                    para o histórico” no menu suspenso e desmarcando “Aceitar cookies de sites”
                                    ; e<br>
                                    • no Chrome, você pode bloquear todos os cookies acessando o menu
                                    “Personalizar e controlar” e clicando em “Configurações”, “Avançado” e
                                    “Configurações do site” e, em seguida, selecionando “Bloquear cookies de
                                    terceiros” na seção “Cookies e dados do site”.<br>

                                    O bloqueio de todos os cookies causará um impacto negativo na usabilidade de
                                    muitos sites. Se você bloquear os cookies, não poderá usar todos os recursos
                                    em nosso site.<br>
                                    a) Você pode excluir os cookies que já estão armazenados no seu computador,
                                    bastando acessar o comando correspondente dentro de seu navegador.<br>

                                    b) A exclusão de cookies causará um impacto negativo na usabilidade de
                                    muitos sites.<br>

                                    Reforçamos que ao se cadastrar em nosso site você tem toma ciência e
                                    concorda com todas as regras e diretrizes estabelecidas na presente politica
                                    de privacidade.<br><br>

                                    Por fim, reforçamos que todas as regras contidas neste documento estão de
                                    acordo com o que estabelece a legislação brasileira, em especial o Código
                                    Civil e o Marco Civil da Internet, bem como estão de acordo com as normas e
                                    costumes estabelecidos em âmbito internaciopnal sobre o tema;
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>