<section class="container">
    <h1 class="col-md-12 text-center mt-5">fale conosco</h1>
    <div class="row ">
        <div class="col-md-6 ">
            <!-- <form> -->
            <!-- <fa-icon [icon]="faInstagram" class="faInstagram fa-3x p-3"></fa-icon> -->
            <fa-icon [icon]="faUser" class="faUser fa-1x p-1 mr-2"></fa-icon>
            <label for="Nome">Nome</label>
            <input type="Nome" class="form-control" id="Nome" [(ngModel)]="contato.nome">
            <fa-icon [icon]="faEnvelope" class="faEnvelope fa-1x p-1 mr-2"></fa-icon>
            <label for="Email">E-mail</label>
            <input type="Email" class="form-control" id="Email" [(ngModel)]="contato.email">
            <fa-icon [icon]="faPhone" class="faPhone fa-1x p-1 mr-2"></fa-icon>
            <label for="Tel">Telefone</label>
            <input type="Tel" class="form-control mr-2" id="Tel" [(ngModel)]="contato.telefone">

            <label for="Mensagem">Mensagem</label>
            <textarea class="form-control" id="Mensagem" rows="8" [(ngModel)]="contato.mensagem"></textarea>
            <hr>
            <button type="submit" class="btn w-100 " (click)="publicar()">Enviar</button>
            <!-- </form> -->
        </div>
        <div class="col-md-6 ">
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3658.1241452609834!2d-46.69399738502288!3d-23.528036884699503!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cef8775663b04f%3A0x923835e9005f8309!2sSenac%20Lapa%20Tito!5e0!3m2!1spt-BR!2sbr!4v1590966626948!5m2!1spt-BR!2sbr"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
            <p>R. Tito, 54 - Vila Romana, São Paulo - SP, 05051-000</p>
            <p>(11) 9 6727-3211 / (11) 6727-3211</p>
            <p>E-mail: mestredahorta@mestredahorta.com</p>
        </div>
    </div>
    <div class="col-md-12 ">
        <hr>
    </div>
</section>