<!-- CARROSEL RESPONSIVO -->
<div id="carouselExampleControls" class="carousel slide teste carouseldist" data-ride="carousel">
    <div class="carousel-inner">
        <div class=" carousel-item active imgum">
            <div class="carousel-caption m1-text mr-auto ml-auto">
                <h3>Seja bem vindo à Mestre da Horta</h3>
            </div>
            <img class="d-block w-100 img-fluid imagemcarrocel" src="../../assets/img/carrocel/primeiraImgCarr.jpg"
                alt="Primeiro Slide">
        </div>
        <div class="carousel-item imgdois">
            <div class="carousel-caption m2-text mr-auto ml-auto">
                <h3>Tudo orgânico e natural que você precisa, entregue em casa!</h3>
            </div>
            <img class="d-block w-100 img-fluid imagemcarrocel" src="../../assets/img/carrocel/segundaImgCarr.jpg"
                alt="Segundo Slide">
        </div>
        <div class="carousel-item imgtres">
            <div class="carousel-caption m3-text mr-auto ml-auto">
                <h3>Que tal indicar saúde e praticidade para alguém que você tanto gosta?</h3>
            </div>
            <img class="d-block w-100 img-fluid imagemcarrocel" src="../../assets/img/carrocel/terceiraImgCarr.jpg"
                alt="Terceira Slide">
        </div>
        <div class="carousel-item imgquatro">
            <div class="carousel-caption m4-text mr-auto ml-auto">
                <h3>Frete Grátis</h3>
            </div>
            <div class="carousel-caption m5-text mr-auto ml-auto">
                <h5 class="frete">(Pedidos acima de R$ 99,00)</h5>
            </div>
            <img class="d-block w-100 img-fluid imagemcarrocel" src="../../assets/img/carrocel/quartaImgCarr.jpg"
                alt="Quarta Slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<!-- FIM DO CARROCEL -->

<!-- CARDS PROMOÇÃO DA SEMANA -->
<div class="fundo">

    <div class="promocao pt-5 pb-1">
        <p class="text-center"> PROMOÇÕES DA SEMANA </p>
    </div>

    <div class="container" id="first-container">
        <div class="row">

            <!-- NOVO CARD 1 -->
            <div class="col-8 col-md-6 col-lg-3">
                <div class="card" id="card-prodpromo">
                    <div class="card-body">
                        <img id="card-img-produto" class="card-img img-fluid" src="../../assets/img/produtos/01.jpg">
                        <h4 class="card-title text-center mt-4">Abacate</h4>
                        <p class="card-title text-center" id="kg">(Kg)</p>
                        <p class="card-text mb-2"></p>

                        <form method="post" action="">
                            <div class="price text-success mt-3">
                                <div class="d-flex justify-content-center pt-2 pb-2">
                                    <del class="preco-promocao">R$8,90</del>
                                </div>
                                <label for="name" class="label-preco ml-1">R$7,90</label>
                                <input class="product-input1" type="number" value="1" min="1" max="20" step="1" />
                            </div>
                        </form>
                        <button id="btn-comprar" type="button" class=" btn card-link mt-2 px-3">Comprar</button>
                    </div>
                </div>
            </div>

            <!-- NOVO CARD 2 -->
            <div class="col-8 col-md-6 col-lg-3">
                <div class="card" id="card-prodpromo">
                    <div class="card-body">
                        <img id="card-img-produto" class="card-img img-fluid" src="../../assets/img/produtos/15.jpg">
                        <h4 class="card-title text-center mt-4">Tomate</h4>
                        <p class="card-title text-center" id="kg">(Kg)</p>
                        <p class="card-text mb-2"></p>

                        <form method="post" action="">
                            <div class="price text-success mt-3">
                                <div class="d-flex justify-content-center pt-2 pb-2">
                                    <del class="preco-promocao">R$3,00</del>
                                </div>
                                <label for="name" class="label-preco ml-1">R$2,59</label>
                                <input class="product-input1" type="number" value="1" min="1" max="20" step="1" />
                            </div>
                        </form>
                        <button id="btn-comprar" type="button" class=" btn card-link mt-2 px-3">Comprar</button>
                    </div>
                </div>
            </div>

            <!-- NOVO CARD 3 -->
            <div class="col-8 col-md-6 col-lg-3">
                <div class="card" id="card-prodpromo">
                    <div class="card-body">
                        <img id="card-img-produto" class="card-img img-fluid" src="../../assets/img/produtos/10.jpg">
                        <h4 class="card-title text-center mt-4">Limão</h4>
                        <p class="card-title text-center" id="kg">(Kg)</p>
                        <p class="card-text mb-2"></p>

                        <form method="post" action="">
                            <div class="price text-success mt-3">
                                <div class="d-flex justify-content-center pt-2 pb-2">
                                    <del class="preco-promocao">R$4,20</del>
                                </div>
                                <label for="name" class="label-preco ml-1">R$3,20</label>
                                <input class="product-input1" type="number" value="1" min="1" max="20" step="1" />
                            </div>
                        </form>
                        <button id="btn-comprar" type="button" class=" btn card-link mt-2 px-3">Comprar</button>
                    </div>
                </div>
            </div>

            <!-- NOVO CARD 4 -->
            <div class="col-8 col-md-6 col-lg-3">
                <div class="card" id="card-prodpromo">
                    <div class="card-body">
                        <img id="card-img-produto" class="card-img img-fluid" src="../../assets/img/produtos/06.jpg">
                        <h4 class="card-title text-center mt-4">Pêssego</h4>
                        <p class="card-title text-center" id="kg">(Kg)</p>
                        <p class="card-text mb-2"></p>
                        <form method="post" action="">
                            <div class="price text-success mt-3">
                                <div class="d-flex justify-content-center pt-2 pb-2">
                                    <del class="preco-promocao">R$5,99</del>
                                </div>
                                <label for="name" class="label-preco ml-1">R$3,89</label>
                                <input class="product-input1" type="number" value="1" min="1" max="20" step="1" />
                            </div>
                        </form>
                        <button id="btn-comprar" type="button" class=" btn card-link mt-2 px-3">Comprar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- FIM DOS CARDS PROMOÇÃO DA SEMANA -->

    <!-- COMO FUNCIONA -->
    <div class="titulo-funciona mb-4 mt-5 pt-5 pb-2">
        <p class="text-center"> COMO FUNCIONA? </p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card mx-auto" id="card-funciona">
                    <img class="img-fluid p-4 img-perfil" src="../../assets/img/comoFunciona/iconeum.png"
                        alt="Icone de Perfil">
                    <div class="card-body texto-perfil">
                        <p class="card-text text-center">PREENCHA SEU CADASTRO</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 mb-4">
                <div class="card mx-auto tamanho-card" id="card-funciona">
                    <img class="img-maca" src="../../assets/img/comoFunciona/iconedois.png" alt="Icone de Maça">
                    <div class="card-body texto-maca">
                        <p class="card-text text-center">ESCOLHA SEU PEDIDO</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3">
                <div class="card mx-auto tamanho-card" id="card-funciona">
                    <img class="img-fluid p-1 img-caminhao" src="../../assets/img/comoFunciona/iconetres.png"
                        alt="Icone de Caminhão de entrega">
                    <div class="card-body texto-caminhao">
                        <p class="card-text text-center">ENVIAMOS PARA VOCÊ</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-3 espaco-cardfun">
                <div class="card mx-auto tamanho-card" id="card-funciona">
                    <img class="img-fluid p-3 img-arvore" src="../../assets/img/comoFunciona/iconequatro.png"
                        alt="Icone de Árvore">
                    <div class="card-body texto-arvore">
                        <p class="card-text text-center">FAÇA A DIFERENÇA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIM DO COMO FUNCIONA -->

    <!-- RECEBA IMAGENS -->
    <div class="mb-5 mt-5 campoverde d-flex justify-content-center flex-column align-items-center">
        <h1 class="text-center pt-5 w-95 receba-promocoes"> Receba todas as promoções </h1>
        <h5 class="text-center w-95 receba-ofertas"> Quer receber nossas ofertas? Cadastre-se e começe a recebê-las!
        </h5>
        <br>
        <div class="inputbotao">
            <div class="input-group mb-3 d-flex justify-content-center">
                <input type="text" class="form-control digemail" placeholder="E-MAIL" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn botaoseta" type="button" id="button-addon2">
                        <fa-icon [icon]="faArrowRight" class="faArrowRight"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
    <!-- FIM RECEBA IMAGENS -->


    <!-- IMAGEM E TEXTO DO MESTRE DA HORTA -->
    <div class="parallax d-flex justify-content-center align-items-center">
        <p class="mestredahorta">MESTRE DA HORTA</p>
    </div>

    <div class="container pt-5 pb-5 text-test">
        <div class="row paragrafo-div">
            <p class="col-1"></p>
            <p class="col-10 text-center">Projeto que visa a venda de produtos orgânicos para a mesa dos
                consumidores,
                diminuindo, desse
                modo, o
                consumo de produtos com agrotóxicos, industrializados e poluição do meio ambiente.
                Incentivando a
                alimentação saudável, o consumo sustentável, e assim, valorizando a rede de empreendedores, produtores
                locais e pequenos negócios.</p>
            <p class="col-1 text-center paragrafo-mdh"></p>
        </div>
    </div>
    <!-- IMAGEM E TEXTO DO MESTRE DA HORTA -->

</div>